.background_black {
        background: #202020;
}

.background_black_light {
        background: #282727;
}

.white_letters {
        color: white;
}

.treeview_header {
        background: #202020;
}

.selected_row {
        background: blue;
}
